@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --text-default: #ffffff;
}

@theme {
  /* colors */
  --color-background: var(--background);
  --color-text-default: var(--text-default);
  --color-gold-700: #c99f5f;
  --color-gold-600: #edcd9d;
  --color-gold-500: #eccfa3;
  --color-gold-400: #f0e1ca;
  --color-petal-red: #ff0000;
  --color-red-dark: #9d0000;
  --color-red-light: #d10000;
  --color-dark-gray: #191919;
  /* fonts */
  --font-spectral: "Spectral", serif;
}

body {
  background: var(--background);
  color: var(--text-default);
  font-family: var(--font-spectral, sans-serif);
}
